
auctionify/db.sqlite3

auctionify/auctionify/__pycache__/

auctionify/auction_files/

auctionify/auction/migrations/__pycache__/

auctionify/auction/__pycache__/

auctionify/auction/migrations/

.idea/
